.c-AttributesAside {
    max-width: 420px;
    // min-width: 300px;
    position: fixed;
    right: 0;
    background: #333;
    height: 100%;
    overflow-y: scroll;
    width: 15%;
    padding: 1.5em;

    &::-webkit-scrollbar {
        display: none;
    }
}
